.centerBoard__container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
  min-width: 320px;
  height: auto;
  border: 1px solid gray;
  border-radius: 15px;
}

.centerBoard__container--card {
  display: flex;
  position: relative;
  justify-content: space-around;
  border: 1px solid gray;
  margin: 10px;
  height: 350px;
  /* width: 400px; */
  min-width: 200px;
  border-radius: 20px;
  -webkit-box-shadow: 7px 8px 12px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 8px 12px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 8px 12px -6px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  background-color: #f44336;
}
.centerBoard__container--card h2 {
  position: absolute;
  bottom: 45%;
  font-size: 3.5em;
}

.centerBoard__container--card-title {
  background-color: #c4c4c4;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -20px;
  color: white;
  font-weight: 700;
  overflow: hidden;
  text-align: center;
}

@media (min-width: 600px) {
  .centerBoard__container {
    overflow: hidden;
  }
  .centerBoard__container--card {
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .centerBoard__container {
    height: auto;
  }
  .centerBoard__container--card {
    height: 500px;
    width: 400px;
  }
  .centerBoard__container--card-title {
    background-color: #c4c4c4;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    color: white;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    font-size: 45px;
  }
}
