.vertical-bar-section {
  width: 27rem;
  height: 20rem;
  border-radius: 15px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
  color: black;
  margin-bottom: 5px;
}

.vertical-bar-section__title {
  font-size: 1rem;
  /* text-align: left; */
}
@media (min-width: 1200px) {
  .vertical-bar-section {
    height: 500px;
    width: 500px;
  }
  .pie-section__title {
    font-size: 3rem;
    margin-bottom: 50px;
    /* text-align: left; */
  }
}
